{% load static %}
<h1>this is room {{room.name}}</h1>
<h2>about us: {{room.description}}</h2>


<h1>VOICE CALL</h1>
<div class="media-controls">
    <button id="connect_call" class="btn btn-success">Join Call</button>
    <button id="disconnect_call" class="btn btn-danger" style="display: none;">Leave Call</button>
    
    <button id="toggle_mic" class="btn btn-secondary" style="display: none;">Mute</button>
    <button id="toggle_cam" class="btn btn-secondary" style="display: none;">Camera on</button>
    <button id="toggle_demo" class="btn btn-secondary" style="display: none;">Screen on</button>
</div>
<div id="local-video-container"></div>
<div id="voice_participants">

</div>
<div id="remote-media-container"></div>


{% if is_participant %}
<h1>you are a participant, {{user.displayname}}</h1>
{% endif %}

<div id="messages" style="border: 2px solid black; padding: 10px; height: 500px; overflow-y: auto; display: flex; flex-direction: column-reverse;">
    <div id="topMarker"></div>
    
</div>
<input id="message_input">
<button id="message_send">Send</button>

<div id="room_members">

<div>



<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/dom.js' %}"></script>
<script src="{% static 'js/ui.js' %}"></script>
<script src="{% static 'js/ws.js' %}"></script>
<script src="{% static 'js/message.js' %}"></script>
<script src="{% static 'js/call.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
